.footer{
    width: 100%;
    height: 210px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #221B32;
    gap:260px;
}

.footer_text1{
    color: white;
    font-weight: bold;
    font-size: 13px;
  }

  .footer_text1_2{
    margin-left: 40px;
  }

  .footer_text1_3{
    margin-left: 40px;
  }

  /* 첫번째 텍스트 줄 끝 */


  .footer_text2{
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
  }

  .footer_text2_1{
    color: white;
  }

  .footer_text2_2{
    color: rgb(180, 180, 180);
    margin-left: 15px;
  }

  .footer_text2_3{
    color: rgb(255, 91, 91);
  }

  .footer_text2_4{
    color: rgb(180, 180, 180);
  }

  /* 두번쨰 텍스트 줄 끝 */



  .footer_text3{
    font-weight: 500;
    font-size: 12px;
  }

  .footer_text3_1{
    color: rgb(180, 180, 180);
  }

  .footer_text3_2{
    color: rgb(255, 91, 91);
  }

  .footer_text3_3{
    color: rgb(180, 180, 180);
  }

   /* 세번쨰 텍스트 줄 끝 */


   .footer_text4{
    margin-top: 10px;
   }

   .footer_text4_1{
    color: rgb(180, 180, 180);
    font-weight: 300;
    font-size: 13px;
   }

   