.header{
  width: 100%;
  max-height: 80px;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 31px;
}
.header a {
  color: #ffffff !important;
}

.header_logo{
  cursor: pointer;
  /* background: transparent url("../assets/3.star_planet_logo.png") 0% 0% no-repeat padding-box; */
}

.header_menu{
  /* display: flex;
  justify-content: right;
  align-items: center; */
  margin-right: 300px;
}

.header_menu .header_menu--item + .header_menu--item {
  margin-left: 80px;
}

.header_menu--item {
  font-size: 18px;
}

