a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none; /* 링크의 밑줄을  제거 */
}

.Header_bar {
  opacity: 0.9;
  font-size: 18px;
}

.Header_bar a {
  color: #ffffff !important;
  text-decoration: none; /* 링크의 밑줄을  제거 */
}

.Header_logo {
  cursor: pointer;
  margin-top: 10px;
}

.Header_bar_text {
  margin-right: 250px;
}

.Header_bar_text2 {
  margin-left: 100px;
}

.Header_list_group{
  margin-left: 30px;
  margin-top: 100px;
}

.Header_list_group_text1 div{
  font-size: 33px;
  line-height: 2;
}

.Header_list_group_text2 div{
  font-size: 25px;
  margin-left: 40px;
  font-weight: 300;
  color: aliceblue;
}

.Header_list_img{
  display: flex;
  gap: 10px;
  margin-top: 55px;
  margin-left: 40px;
  cursor: pointer;
}

.Header_list_img img{
  width: auto;
  height: 48px;
  gap: 15px 5px;
}



