.header {
  width: 100%;
  max-height: 80px;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 31px;
}
.header a {
  color: #ffffff !important;
}

.header_menu {
  /* display: flex;
  justify-content: right;
  align-items: center; */
  margin-right: 300px;
}

.header_menu .header_menu--item + .header_menu--item {
  margin-left: 80px;
}

.header_menu--item {
  font-size: 18px;
}

.Header_bar {
  opacity: 0.9;
  font-size: 18px;
}

.Header_bar a {
  color: #ffffff !important;
  text-decoration: none; /* 링크의 밑줄을  제거 */
}

.Header_logo {
  cursor: pointer;
  margin-top: 10px;
}

.Header_bar_text {
  margin-right: 250px;
}

.Header_bar_text2 {
  margin-left: 100px;
}
